<div class="page-header">
  <h1>About Us</h1>  
  <p>The many activities and experiences enjoyed by the active brothers of Theta Chi.</p>
</div>

<nav class="pills">
  <ul>
    <li data-section-name="president-message" class="active"><a>Home</a></li>
    <li data-section-name="history"><a>History</a></li>
    <li data-section-name="chapter-house"><a>Chapter House</a></li>
    <li data-section-name="brotherhood"><a>Brotherhood</a></li>
    <li data-section-name="social"><a>Social Events</a></li>
    <li data-section-name="academics"><a>Academics</a></li>
    <li data-section-name="philanthropy"><a>Philanthropy</a></li>
    <li data-section-name="athletics"><a>Athletics</a></li>
  </ul>
</nav>

<section name="president-message">
  <%= image_tag "photos/coat-of-arms.jpg", :class => "lead" %>
  <h3>A Message from Our President</h3>
  <p>Theta Chi is a place where men are grown and enabled. The values of our fraternity resonate beyond the walls of just brotherhood. Mu Chapter is committed to the betterment of its brothers in all aspects of life, including the academic, philanthropic, social, athletic, and spiritual components of sturdy manhood. Members dedicated to the rigorous coursework of UC Berkeley empower their minds and prioritize their scholarly duties before anything else, as is our maxim, “Alma Mater First, Theta Chi For Alma Mater.”</p>
  <p>As brothers, we engage ourselves with our community and serve local businesses with our philanthropic agenda, which includes hosting our own successful philanthropy event and completing several hours of community service together, fulfilling the ideology of our motto, “the helping hand.” Brothers also get to enjoy the fruit of their hard work by balancing these altruistic virtues with an admirable social life of sorority mixers, traditional parties, alumni networking, as well as many brotherhood events and trips that make it great to be a Theta Chi. Mu Chapter also focuses heavily on athleticism. Having brothers involved in Division I and Club sports, Theta Chis compete on the intramural level in a variety of sports as a chapter and recognize the importance of having a sound body.</p>
  <p>As members grow through their undergraduate careers, Theta Chi provides them with opportunities to become leaders, understand one another, and even becomes a support system of brotherhood that brothers will always take with them. Theta Chi is for life, which is why Mu Chapter strives to be the best to uphold its high and sacred purpose of molding ambitious gentlemen, and has rightfully done so, for exactly 100 years now at Cal. I welcome your interest, whether you are an alumnus that wants to reconnect with Mu or an incoming freshman at Cal, and invite you to seek out the beneficial facets of being connected with Theta Chi.</p>

  <p>Love and respect,</p>

  <p>
    Bernardo Jaramillo<br>
    President || Theta Chi Fraternity | Mu Chapter<br>
    University of California, Berkeley ‘14
  </p>
</section>

<section name="history">
  <h3>History</h3>
  <p>The history of Theta Chi Fraternity begins on April 10 1856 in the Old South Barracks of Norwich University in Norwich, Vermont. Founded by Frederick Norton Freeman and Arthur Chase, the fraternity was built to create gentlemen through the ideals of  friendship, loyalty to one’s university and education, patriotism, brotherhood, and above all, giving a helping hand whenever possible. This shows the origin of our motto “An Assisting hand” and was proven when over seven hundred gentlemen of Theta Chi and other Norwich University students were trained and sent to fight for the Union Army in the battle of Gettysburg and other civil war battles.</p>
  <p>These ideals are remembered and rigorously followed by the Mu Chapter of Theta Chi as well. Founded on November 6, 1913, the gentlemen of Mu Chapter have upheld the legacy of our founders for the last one hundred years. Our devotion to education is seen through brothers who excel in many different majors ranging from the liberal arts to science and engineering. Arthur Chase and Frederick Norton Freeman created Theta Chi Fraternity to promote the ideals that made them gentlemen, and through our chapter's dedication over the past one hundred years, the gentlemen of Theta Chi Fraternity Mu Chapter have managed to keep the dreams and ideals of our founders alive.</p>
</section>

<section name="chapter-house">
  <h3>The Chapter House</h3>
  <p>Our already beautiful house has recently undergone major renovations downstairs and there are more exciting projects coming in the near future. During the summer of 2012, we added one more room where the old pantry was located, renovated the bathroom in the downstairs hallway, and upgraded the old chef's room. The renovations include increase the capacity of the house and have turned two former eyesores into beautifully furnished living spaces. The new private bathroom is a beautiful upgrade for downstairs residents and female guests. Room 1, also known as Presidente, and its private bathroom were also recently renovated to match the newer rooms in the house. The bathroom has the same beautiful period-appropriate tile as the new downstairs bathroom.</p>
  <p>Under current expectations, we plan on adding a third floor to our house to provide more rooms for our brothers. Rooms 10 and 11 as well the nearby bathroom will be converted into a new game room for social and recreational uses. Furthermore, the upstairs bathroom will be renovated with modern systems, similar to the bathroom constructed downstairs. Furthermore, the main room downstairs will be converted to an alumni living room and our foyer will be resurfaced and repainted to give a great first impression to everyone who visits the house.</p>
</section>

<section name="brotherhood">
  <h3>Brotherhood</h3>
  <p>As a brother in Theta Chi, we spend the majority of the time taking classes, eating meals, playing sports, or just hanging out with our brothers. While our interaction is pretty constant and we have tons of fun together, we also hold many big, traditional events every semester in addition to the cookouts, ski trips, and other activities that are constantly occurring.</p>
  <p>One of the most important brotherhood events we have every semester is our retreat. It is a weekend long getaway trip to a nearby vacation spot. Not only does this allow brothers to relax and have a little fun, but it allows a critical assessment of the performance of the chapter thus far. We sit down and discuss the problems we are having and set real goals that we can accomplish for the rest of the semester. Retreat serves as a quick reminder of the direction and goals of the chapter.</p>
	<p>Another major event is family night. This is when big brothers find out who their little brothers are and vice versa. The big brother acts as a mentor to their respective little brother. The pledges are introduced to all members of their family and several brotherhood bonding events take place. It is one of the first opportunities for the pledges to hang out and share an experience with the actives. This strengthens the pledge-brother bond and is an early lesson of what it means to be a brother.</p>
	<p>The house also sponsors a Winnebago trip down to either UCLA or USC for the football game. We rent out several large RVs and make the drive down to Los Angeles with a large number of brothers and girls. We get to stay with the chapters at UCLA or USC and experience a fun weekend on another campus.</p>
</section>

<section name="social">
  <h3>Social Events</h3>
  <p>After a hard week of Berkeley classes, our brothers are always ready for a break. We have a full calendar of social events over the course of the semester, including exchanges with the lovely sororities of Cal, themed parties, and date night on a 100 foot yacht on the San Francisco Bay at the end of the year. Our biggest party is the annual "Temple of Doom" in the fall, where the house gets decked out Indiana Jones style. You can pictures from our social events in the photos section.</p>
</section>

<section name="academics">
  <h3>Academics</h3>
  <p>Theta Chi's maxim is "Alma Mater First and Theta Chi for Alma Mater" and here at Mu Chapter we follow this ideal everyday of our lives. Our brothers excel in many different, difficult majors ranging from business to political science to all types of science and engineering. We offer the Helping Hand to each other by providing an in-house tutoring program that pairs up brothers based on their classes and majors. With study hours hosted at the house and the library 6 days a week, we ensure that academic excellence is a top priority.</p>
</section>

<section name="philanthropy">
  <h3>Philanthropy</h3>
  <p>Brothers of Theta Chi place a large emphasis on giving back and extending the “helping hand.” Our brothers are involved with homeless shelters, schools, and local beautifications.  We see philanthropy as a way for our Brothers to bond with each other and the Greek community at large. Our philanthropy event this event Our philanthropy event this semester, a Kids Day for veterans to bring their children to, was a great success and we hope to keep our philanthropic momentum going this semester.</p>
  <p>In addition to community service and our own events, brothers attend a large number of philanthropy events hosted by sororities, other fraternities, and other campus organizations. These events are a lot of fun and very beneficial to the charitable organizations they support.</p>
</section>

<section name="athletics">
  <h3>Athletics</h3>
  <p>At Mu Chapter of Theta Chi, we love staying active. From running through the sprawling hills overlooking campus or lifting at the RSF to competing in intramural, club, and varsity athletics at Cal, staying active and healthy is a cornerstone of the house's livelihood. The house sponsors soccer, baseketball, and football teams in the fraternity intramural leagues as well as a corec softball team with a sorority. Basketball is a house favorite; there is almost always a small game going on on our patio court or a few guys at the gym playing pickup games. Keeping healthy is a big deal at Mu Chapter, and we do a great job of making it as easy as possible to get a good game going.</p>
</section>
