<%= image_tag "photos/coat-of-arms.jpg", :class => "lead" %>

<div class="page-header">
  <h1>Active Members</h1>  
  <p>Recruitment is an essential part of the Greek system and one that look forward to twice a year as an opportunity to meet future brothers.</p>
</div>
<hr>

<ul>
  <li>Officers</li>
  <li>Expectations of members</li>
  <li>List by pledge class?</li>
</ul>