<%= image_tag "photos/coat-of-arms.jpg", :class => "lead" %>

<div class="page-header">
  <h1>Alumni</h1>  
  <p>Recruitment is an essential part of the Greek system and one that look forward to twice a year as an opportunity to meet future brothers.</p>
</div>
<hr>

<ul>
  <li>Alumni Board</li>
  <li>Statistics</li>
  <li>Notable alumni</li>
  <li>Alumni events</li>
</ul>