<img src="<%= asset_path "photos/coat-of-arms.jpg" %>" class="lead">

<h1>Alumni</h1>  

<p>Recruitment is an essential part of the Greek system and one that look forward to twice a year as an opportunity to meet future brothers.</p>

<ul>
  <li>Alumni Board</li>
  <li>Statistics</li>
  <li>Notable alumni</li>
  <li>Alumni events</li>
</ul>