<div class="page-header">
  <h1>Contact Us</h1>
  <p>Feel free to contact the house, its officers, or the alumni board for any reason. We can currently be contacted in the following ways:</p>
</div>

<section name="actives">
  <h3>Active Brothers</h3>
  <dl>
    <dt>President</dt>
    <dd>Bernardo Jaramillo</dd>
    
    <dt>Vice President</dt>
    <dd>Rohan Jonnalagadda</dd>
    
    <dt>Secretary</dt>
    <dd>Josh Toyofuku</dd>
    
    <dt>Treasurer</dt>
    <dd>Justin Lee</dd>
    
    <dt>Marshal</dt>
    <dd>Matt Mayes</dd>
    
    <dt>House Manager</dt>
    <dd>Ani Sapru</dd>
    
    <dt>Rush Chair</dt>
    <dd>Eric Talamantez</dd>
  </dl>
</section>

<section name="social-media">
  <h3>Social Media</h3>
  <ul>
    <li><%= link_to "Facebook", "https://www.facebook.com/CalThetaChi", :target => "_blank" %></li>
    <li><%= link_to "Twitter", "https://twitter.com/CalThetaChi", :target => "_blank" %></li>
    <li><%= link_to "LinkedIn", "http://www.linkedin.com/groups?gid=4940412", :target => "_blank" %></li>
  </ul>
</section>

<section name="written">
  <h3>Written Correspondence</h3>
  <p>Mail should be addressed to either the house as a whole or the specific officer most suited to its purpose.</p>
  <address>
    <strong>Cal Theta Chi</strong><br>
    2499 Piedmont Avenue<br>
    Berkeley, CA 94704
  </address>
</section>