<h1><%= @title %></h1>
<p><%= @description %></p>

<% @album.photo.each do |photo| %>
  
  <div class="photo">
    <% info = flickr.photos.getInfo(:photo_id => photo.id) %>
    <%= link_to FlickRaw.url_c(info), :rel => "lightbox-album", :title => info.title do %>
    <%= image_tag FlickRaw.url_q(info) %>
    <% end %>
  </div>  

<% end %>